/* Specific CSS to cart.php in the marketplace */

main {
    min-height: 60vh;
    padding: 0 2vw;
}

input[type=number] {
    border-radius: 5px;
    padding: 10px;
    max-width: 80px;
}

.cartItem .removeButtons {
    background-color: #E72929;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.2s ease;
}

.cartItem .removeButtons:hover {
    background-color: #bd1818;
}

.cartItem .removeButtons:active {
    transform: scale(0.95);
}

.cart {
    margin-top: 130px;
}

/* Fix cart mobile responsive */
.tableCart {
    overflow-x: auto;
}

.tableCart .tableCart2 {
    min-width: 700px;
}

.cart nav ul {
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
.cart nav ul li {
    flex: 1;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.cart .cartItem {
    display: flex;
}
.cart .cartItem > * {
    flex: 1;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart .cartItem img {
    max-width: 80px;
    margin: auto;
}

/* Final checkout section */

.checkout {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.subtotal {
    width: 60%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
.subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
.subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

.subtotal h3 {
    margin-bottom: 20px;
}

.subtotal button {
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Mobile responsive code */

.cart {
    overflow-x: auto;
}

@media screen and (max-width: 700px) {
    main {
        padding: 0 5px;
    }
    .subtotal {
        width: 95vw;
    }
    .checkout {
        justify-content: start;
    }
}