
.panel {
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    background-color: #f5f5ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 15%;
    max-width: 25%;
}

.panel-post:hover{
    background-color: #e1e7ff;
    
}

.panel h3 {
    padding: 10px;
    
}

.panel > *{
    margin: 10px;
    cursor: pointer;
}




/*posts*/
.panel-post {
    border-radius: 10px;
    border-width: 1px;
    padding : 10px;
    border: 1px solid #c9c9c9;
}
.panel-ost > * {
    border-radius: 10px;
    margin : 10px;
}

.username {
    color: #666;
}

.time {
    color: #666;
    font-size: 12px;
    margin-bottom: 10px;
}

/* new topic btn */
.add-post button{
    font-style: bold;
    font-size: larger;
    width: 100%;
}
.like-btn {
    padding: 10px 10px;
    background-color: #e91e63;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease; /* Adding transition for transform property */
}

.like-btn:active {
    transform: scale(0.95); /* Applying a scale transform when the button is pressed */
}
