.captchas {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

.container-header {
    margin: 30px;
    display: flex;
    align-self: center;
    width: 80vw;
}

.container-header a {
    margin-left: 1.5rem;
    background: #0f324173;
    align-self: center;
    padding: 6px 10px;
    border-radius: 30px;
    color: white;
}

.tab {
    border-collapse: collapse;
    background: #f7f7f7;
    width: 100%;
  }

  .tab td, th {
    width: 10%;
    padding: 15px 10px;
    text-align: center;
    border: none;
}

.tab th {
    background-color: #9cbcca73;
}