.message {
    position: relative;
    top: 2rem;
    left: 27rem;
}

.form {
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
}

.center-box {
    background: rgba(114, 114, 209, 0.692);
    padding: 30px;
    border-radius: 10px;

}

.form-container {
    margin-top: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 16px;

}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%; 
    margin-left: 16px;
}

.input-zone {
    width: 100%; 
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
}


.thumbnail {
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 10px;
}

.pic {
    display: flex;
    align-items: center;
}

.btn {
    background: rgb(255, 255, 255);
    padding: 13px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgba(22, 22, 177, 0.205);
}

.btn:hover {
    box-shadow: inset 3px 3px 5px rgba(73, 124, 201, 0.397);
}

.status {
    display: flex;
    justify-content: end;
}

#inputStatus {
    width: 100px;
    margin: 38px 0px 0px 0px;
}

.file_selection {
    margin-top: 20px;
    position: relative;
    margin-bottom: 10px;
}

.file_selection label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.file_selection input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    width: 100%;
}

.file_selection input[type="file"]::-webkit-file-upload-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.file_selection input[type="file"]::-moz-file-upload-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.file_selection input[type="file"]::-ms-browse {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.status {
    display: flex;
    justify-content:center;
    margin-bottom: 1rem;
}