.outer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.container {
    width: 80vw;
    background-color: rgba(76, 19, 209, 0.432);
    border-radius: 10px;
}

.rowsContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    border: solid 1px rgba(128, 128, 128, 0.158);
}

.box {
    background: white;
    padding: 10px;
    border-radius: 5px;
}

.label {
    background: white;
    border-radius: 4px;
    padding: 3px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.info {
        padding: 3px;
        display: flex;
        justify-content: center;
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.164);
        margin: 5px 0 8px 0;
        cursor: pointer;
    }

.info:hover {
    background: rgba(112, 99, 228, 0.178);
    box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.253);
}

.pic {
    border-radius: 50%;
    max-width: 150px;
    aspect-ratio: 1/1;
}

.rowsContainer2 {
    background:  rgba(76, 19, 209, 0.11);
    padding: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reason {
    margin: 3px;
    font-weight: 700;
}

.content {
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.btn {
    background: rgb(255, 255, 255);
    padding: 13px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgba(22, 22, 177, 0.205);
}

.btn:hover {
    box-shadow: inset 3px 3px 5px rgba(73, 124, 201, 0.397);
}


#delete-btn {
   background: rgb(255, 255, 255);
}